// Fonts
$font-family: 'Open Sans', sans-serif;
$logo-font-family: 'Pacifico', cursive;
$font-color: #7c7770;
$font-size: 14px;
$font-weight: 400;
$secondary-color: #71B6D5;
$boder-color: #e1e1e1;
$white-color:#fff;