// Fonts
$font-family: 'Open Sans', sans-serif;
$logo-font-family: 'Pacifico', cursive;
$font-color: #7c7770;
$font-size: 14.5px;
$font-weight: 400;

@mixin center() {
  position: absolute;
  left: 0;
  right: 0;
}

/* GLOBAL STYLES
-------------------------------------------------- */
* {
  outline: none;
}

body, p, a {
  font-family: $font-family;
  color: $font-color;
  font-size: $font-size;
}

a:hover {
  text-decoration: none;
  color: inherit;
  opacity: .8;
}

.read-btn {
  width: 88px;
  height: 35px;
  background: transparent;
  border: 1px solid #71B6D5;
  color: #71B6D5;
  border-radius: 4px;
  margin-top: 0;
  padding: 6px;
  display: block;
}


.logo {
  font-family: $logo-font-family;
}

.full-content {
  margin-top: 50px;
}

.navbar-brand {
  font-size: 30px;
}

.content-text {
  h3{
    font-size: 20px;
    padding: 0;
  }
  p {
    padding-top: 16px;
    line-height: 22px;
  }
}

h2.section-title {
  font-size: 24px;
  text-transform: uppercase;
  span {
    font-weight: bold;
  }
}
.spacing {
  margin-bottom: 20px;
  margin-top: 90px;
}

.hrline {
  text-align: center;
  position: relative;
  h3{
    padding: 0 15px;
    background-color: #fff;
    display: inline;
    font-size: 15px;
  }
  i {
    padding: 0 15px;
    background-color: #fff;
  }
  &:before {
    @include center();
    border-bottom: 1px solid #e1e1e1;
    content: "";
    top: 50%;
    z-index: -1;
    margin: auto;
  }
  .fa {
    &:before {
      color: #71B6D5;
      font-size: 30px;
    }
  }
}


.feature-content-text h3 {
  font-size: 20px;
}

hr {
  display: block;
  color: red;
  margin: 40px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-caption {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  z-index: 1;
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  h3 {
    font-size: 22px;
  }
}
a.navbar-brand.logo {
  img {
    margin-top: -10px;
  }
}

a.navbar-brand.logo:hover {
  opacity: 1;
}

.page-header-bg {
  position: relative;
}
.page-header-bg:after {
  @include center();
  content: '';
  top: 0;
  bottom: 0;
  background-color: rgba(20, 27, 47, 0.5);
}

/* no-gutters Class Rules */

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-default {
  .navbar-brand {
    color: #fff;
  }
  .navbar-nav
  li {
    a {
      color: #fff;

      &:focus, &:hover {
        color: rgba(255, 255, 255, 0.7);
        background-color: transparent;
      }
    }
  }
}


.navbar-wrapper {
  @include center();
  top: 0;
  z-index: 20;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background: rgba(26, 49, 66, 0.59);
}

.navbar-default {
  background-color: transparent;
}

.navbar-wrapper {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
    .container {
      width: auto;
    }
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.top-slide {
  a.left.carousel-control, a.right.carousel-control {
    display: flex;
  }
  span.fa.fa-chevron-left, span.fa.fa-chevron-right {
    display: flex;
    align-items: center;
    margin: 0 auto;
    &:before{
      border: 2px solid white;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
    }
  }
  .item:after {
    @include center();
    content: '';
    top: 0;
    bottom: 0;
    background-color: rgba(20, 27, 47, 0.5);
  }
  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    bottom: initial;
    h1 {
      font-weight: bold;
      font-size: 48px;
    }
    h3 {
      font-size: 25px;
    }
  }
  .carousel-control {
    color: #fff;
    text-shadow: transparent;
    background-color: transparent;
    opacity: 1;
  }
  .carousel-indicators {
    .active:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid white;
      border-radius: 50%;
      top: -8px;
      left: -8px;
    }
    .active {
      position: relative;
      width: 6px;
      height: 6px;
      margin: 0;
      background-color: #fff;
    }
    li {
      position: relative;
      width: 6px;
      height: 6px;
      background: white;
    }
    li:nth-child(2) {
      margin: 0 15px;
    }
  }

  a.slider-btn {
    background: #71b6d5;
    border: 0;
    padding: 8px 12px;
    border-radius: 5px;
    width: 155px;
    height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    color: inherit;
    position: relative;
    top: 15px;
  }
}

/*Contact Info */

.contact-info {
  margin-top: 40px;
  li {
    font-size: 13.5px;
  }
  h3{
    font-size: 20px;
  }
  .fa {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    background: #71b6d5;
    color: white;
    border-radius: 50%;
  }
}

.maps iframe {
  pointer-events: none;
  width: 100%;
}

.form-control-contact {
  width: 100%;
  text-indent: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #f5f5f5;
}

form#contact {
  margin-top: 50px;
  input {
    height: 45px;
  }
  button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
  }
}

//Testimonial Page

.testimonial-slide {
  div.line-separator {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ddd;
    margin: 0 0 0 170px;
  }
  .carousel-indicators li {
    position: relative;
    top: 60px;
    background: #e1e1e1;
  }
  .carousel-indicators .active {
    background: #71b6d5;
  }
}

.line {
  border-top: 1px solid #eee;
  width: 50%;
  margin: 0 auto;
}
.line-separator {
  text-align: center;
}


blockquote {
  padding: 0;
  margin: 10px 0 5px;
  font-size: 18px;
  text-align: center;
  border-left: none;
}

.author-name {
  margin-top: 12px;
}

@mixin testimonial-line() {
  content: ' ';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.myline {
  position: relative;
  border: 1px solid #ccc;
  width: 400px;
  margin: 25px auto;
  &:before {
      @include testimonial-line();
      left: 70px;
      border-width: 0 21px 21px;
      border-color: transparent #ccc transparent transparent;
  }
  &:after {
      @include testimonial-line();
      left: 73px;
      bottom: -18px;
      border-width: 0 19px 19px;
      border-color: transparent #FFFFFF transparent transparent;
  }
}

.author-name span {
  font-weight: bold;
}

// About Home Page.

.sub-title-about {
  p {
  font-size: 18px;
  margin-top: 90px;
  margin-bottom: 100px;
  text-align: center;
}
}

.about-content {
  border: 1px solid #e1e1e1;
  text-align: center;
  font-size: 13.5px;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 4px;
}

.icon-circle {
  @include center();
  text-align: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: block;
  background: #71B6D5;
  border: 10px solid white;
  border-radius: 50%;
  top: -50px;
}

.fa.icon-circle:before {
  position: relative;
  top: 34%;
  font-size: 22px;
  color: white;
}

.about-img {
  display: block;
  margin: 0 auto;
  width: 100%
}

.content-text {
  padding: 15px;
}

// Project section


.project-content {
  margin-top: 30px;
  a {
    &:nth-child(1) {
      position: relative;
      display: block;
      background: black;
    }
    img {
      display: block;
      transition: all 0.5s linear;
    }
    &:hover img {
      opacity: 0.7;
    }
    img {
      width: 100%;
    }
    &:hover i {
      opacity: 1;
    }
  }
 i {
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}
  &-title {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 0;
    width: 100%;
    margin: 0 auto;
    display: block;
    color: inherit;
  }

  &-subtitle {
    font-size: 13.5px;
    padding: 0;
  }

}


/* Gallery */


.gallery {
  img {
  width: 100%;
  }
  .row.no-gutters {
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
  }
}
.gallery-img-box {
  border-right: 1px solid #e1e1e1;
  h3 {
    font-size: 18px;
    color: #484848;
  }
  p{
    font-size: 13px;
    color: #b2b2b2;
  }
}

/* Sidebar */


.sidebar {
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  p {
    font-size: 13px;
  }
  .fa {
    margin-right: 10px;
    color: #71B6D5;
  }
    &-logo {
    font-size: 30px;
    color: #3c3a37;
    margin-top: 30px;
  }
  .hrline {
    margin: 30px 0;
  }
}

span.sidebar-text {
  font-size: 15px;
  text-transform: uppercase;
}

.form-search-control {
  width: 100%;
  height: 40px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  text-indent: 10px;
}

.blog-tags span {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

// Footer
.credit p {
  position: relative;
  top: 15px;
}

footer {
  background: #273a41;
  color: white;
  padding: 70px 0 0;
  margin-top: 60px;
  p, li {
    color: #848a8d;
    font-size: 13.5px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  a{
    margin-right: 15px;
  }
  li span.fa {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #2c3b42;
    border-radius: 50%;
    text-align: center;
    color: white;
    &:hover{
      opacity: .7;
      transition: .3s;
    }
  }
}
.social {
  ul {
    display: inline-block;
    .address{
      li{
        margin-bottom: 5px;
        }
        i.fa {
        width: 30px;
        margin-right: 10px;
        text-align: center;
      }
      span {
        position: relative;
        top: -6px;}
    }
  }
  li {
    float: left;
    margin: 5px 0;
  }
}

.bottom-footer {
  background: #172227;
  padding: 25px 0 15px;
  margin-top: 25px;
}


footer .fa {
  font-size: 26px;
  color: #71b6d5;
}

ul.tweets li {
  margin-bottom: 25px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  a {
    flex: 8;
    color: inherit;
  }
  i.fa-twitter {
    flex: 1;
    margin-right: 12px;
    position: relative;
    top: 5px;
  }
}

span.time-stamp {
  color: #71B6D5;
  position: relative;
  top: 5px;
}

.form-control {
  border-radius: 6px 0 0 6px;
  background: black;
  border: 0;
  height: 40px;
}

.form {
  display: flex;
}

.form button {
  background: #71B6D5;
  padding: 5px 9px;
  border: 0;
  border-radius: 0 6px 6px 0;
  width: 50px;
}

footer a {
  color: inherit;
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.page-header-bg {
  width: 100%;
  img {
    width: 100%;
  }
}
