/* GLOBAL STYLES
-------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
  color: #5a5a5a;
  font-size: 14.5px; }

.navbar-default .navbar-brand {
  color: #FFF; }

.navbar-default .navbar-nav > li > a {
  color: #FFF; }

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 30px; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20; }

.navbar-default {
  background-color: transparent; }

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0; }

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px; }

.navbar-wrapper .navbar .container {
  width: auto; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.item:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(20, 27, 47, 0.5); }

.carousel-caption h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 48px; }

.carousel-caption h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px; }

.no-padding {
  padding: 0 !important; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 1200px) {
  .container {
    width: 1060px; } }

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px; }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px; }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0; }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
    top: 35%; } }

@media (max-width: 768px) {
  .carousel-caption h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: 10px; }
  .carousel-caption h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; } }
